<div id="owl-demo">          
    <div class="item"><a href="img/nails/nails2.jpg" ><img src="img/nails/nails2.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails3.jpg" ><img src="img/nails/nails3.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails4.jpg" ><img src="img/nails/nails4.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails5.jpg" ><img src="img/nails/nails5.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails6.jpg" ><img src="img/nails/nails6.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails7.jpg" ><img src="img/nails/nails7.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails8.jpg" ><img src="img/nails/nails8.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails9.jpg" ><img src="img/nails/nails9.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails10.jpg" ><img src="img/nails/nails10.jpg" alt="Owl Image"></a></div>
    <div class="item"><a href="img/nails/nails11.jpg" ><img src="img/nails/nails11.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails12.jpg" ><img src="img/nails/nails12.jpg" alt="Owl Image"></a></div>        
    <div class="item"><a href="img/nails/nails17.jpg" ><img src="img/nails/nails17.jpg" alt="Owl Image"></a></div>        
    <div class="item"><a href="img/nails/nails18.jpg" ><img src="img/nails/nails18.jpg" alt="Owl Image"></a></div>        
    <div class="item"><a href="img/nails/19.png" ><img src="img/nails/19.png" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/20.png" ><img src="img/nails/20.png" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/21.jpg" ><img src="img/nails/21.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/22.jpg" ><img src="img/nails/22.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/23.jpg" ><img src="img/nails/23.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/24.jpg" ><img src="img/nails/24.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/25.jpg" ><img src="img/nails/25.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/26.jpg" ><img src="img/nails/26.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/27.jpg" ><img src="img/nails/27.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/28.jpg" ><img src="img/nails/28.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/29.jpg" ><img src="img/nails/29.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/30.jpg" ><img src="img/nails/30.jpg" alt="Owl Image"></a></div>    
  </div>
<script>
$(document).ready(function() {
 $("#owl-demo").owlCarousel({
     autoPlay: 3000, //Set AutoPlay to 3 seconds
     items : 5,
     itemsDesktop : [1199,3],
     itemsDesktopSmall : [979,3]
 });
});
</script>
<style>
#owl-demo {
  margin-top: 40px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  height: 200px;
}
</style>
