<div id="owl-demo">          
        	
    <div class="item"><a href="img/nails/nails5.jpg" ><img src="img/nails/image018a.jpg" alt="Owl Image"></a></div>    

    <div class="item"><a href="img/nails/nails5.jpg" ><img src="img/nails/nails5.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails6.jpg" ><img src="img/nails/nails6.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails7.jpg" ><img src="img/nails/nails7.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails8.jpg" ><img src="img/nails/nails8.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails9.jpg" ><img src="img/nails/nails9.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails10.jpg" ><img src="img/nails/nails10.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails11.jpg" ><img src="img/nails/nails11.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails2.jpg" ><img src="img/nails/nails2.jpg" alt="Owl Image"></a></div>    
    <div class="item"><a href="img/nails/nails3.jpg" ><img src="img/nails/nails3.jpg" alt="Owl Image"></a></div>
    <div class="item"><a href="img/nails/nails4.jpg" ><img src="img/nails/nails4.jpg" alt="Owl Image"></a></div>    
  </div>
<script>
$(document).ready(function() {
 
 $("#owl-demo").owlCarousel({

     autoPlay: 3000, //Set AutoPlay to 3 seconds

     items : 5,
     itemsDesktop : [1199,3],
     itemsDesktopSmall : [979,3]

 });

});
</script>
<style>
#owl-demo {
  margin-top: 40px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  height: 200px;
}
</style>
